/* Use a more intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Remove all margins & padding */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* Only show focus outline when the user is tabbing (not when clicking) */
  *:focus {
    outline-color: #1fbd89;
  }
  
  *:focus-visible {
    outline: 1px solid #1fbd89;
  }
  
  /* Prevent mobile browsers increasing font-size */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  /* Allow percentage-based heights */
  /* Setting width: 100% isn't required because it is a default for block-level elements (html & body are block level) */
  html, body {
    block-size: 100%;
  }
  
  body {
    /* Prevent the rubber band effect when the user scrolls to the top or bottom of the page (WebKit only) */
    overflow: hidden;
  
    /* Prevent the browser from synthesizing missing typefaces */
    font-synthesis: none;
  
    color: black;
    /* UI controls color (example: range input) */
    accent-color: black;
  
    /* Because overscroll-behavior: none only works on WebKit, a background color is set that will show when overscroll occurs  */
    background: white;
  }
  
  /* Remove unintuitive behaviour such as gaps around media elements.  */
  img, picture, video, canvas, svg, iframe {
    display: block;
  }
  
  /* Avoid text overflow */
  h1, h2, h3, h4, h5, h6, p, strong {
    overflow-wrap: break-word;
  }
  
  a {
    text-decoration: none;
  }
  
  ul, ol {
    list-style: none;
  }
  
  input {
    border: none;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  

// Components

.container {
  inline-size: min(100%, 90rem);
  margin-inline: auto;

}

.red {
  border: 1px solid red;
}

.bug {
  *{
    box-sizing: border-box;
    outline: 1px solid limegreen !important;
  }
  
  *{
    box-sizing: border-box;
  }
}


.input {
  padding-inline-start: 10px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  outline-color: #1fbd89;
  font-size: 12px;

  &:not(:placeholder-shown)  {
    border-color: #1fbd89 !important;
  }

}

.border-green {
  border-color: #1fbd89 !important;
  color: #333333 !important;
  
}
